p.dependency-element {
	padding-top: 4px;
	padding-bottom: 4px;
}

p.dependency-element:hover {
	background-color: var(--vscode-input-background);
}

td#properties-container {
	width: 20%;
	vertical-align: top;
	padding-right: 10px;
}

td#view-column {
	width: 80%;
	vertical-align: top;
}

table#graph-container {
	width: 100%;
}

